<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/auctions.css?v=111' />
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

        <style>
            body {
                margin: 0px;
            }
        </style>
    </head>
    <body>
        <header>
            <%- include('partials/navbar') %>
        </header>
        <div class="container">
            
            <div class="auctionsContainer">
                <% if(error!== null){ %>
                    <span> <%= error %> </span>
                <% }else if(auctionData.length === 0 ){ %>
                    <span>No New Auctions Yet !</span>
                <%} else{ %>

                    <% auctionData.forEach(function (item, index) { %>

                        <div class="auctionsCard">

                            <div class="auctionsCardWrapper">

                                <button class="auctionCardHeader">

                                    <div class="auctionCardHead">
                                        <div class="auctionCardHead-avatar">
                                            <div class="auctionCardHead-avatar-image">
                                                <%= item.seller[0].toUpperCase() %>
                                            </div>
                                        </div>
                                        <div class="auctionCardHead-content">
                                            <span class="auctionCardHead-avatar-name" data-auctionId="<%=item.id%>">
                                                <%= item.title %>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="auctionCardBody">
                                    </div>

                                    <div class="auctionCardFoot">
                                        <div class="auctionCardFoot-details">
                                            <div>
                                                <span class="auctionCardFoot-details-header" data-auctionId="<%=item.id%>">
                                                    <% if(item.highestBid.amount == 0 ){ %>
                                                        No bids
                                                    <% }else{ %>
                                                        <%= item.highestBid.amount; %>
                                                     <% } %>
                                                </span>
                                                <p class="auctionCardFoot-details-data">
                                                    HIGHEST BID
                                                </p>
                                            </div>
                                        </div>
                                        <div class="auctionCardFoot-details">
                                            <div>
                                                <span class="auctionCardFoot-details-header" data-endingAt="<%= item.endingAt %>" >
                                                    -- hours -- mins -- secs
                                                </span>
                                                <p class="auctionCardFoot-details-data">
                                                    TIME REMAINING
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </button>

                                <div class="auctionCardFooter">

                                    <div class="auctionCardFooter-card">

                                        <% if(item.seller == locals.user._json.email){ %>
                                            <button class="auctionCardFooter-button">
                                                <span class="auctionCardFooter-label">Your Auction</span>
                                            </button>
                                        <% }else if (item.highestBid.bidder == locals.user._json.email){ %>
                                            <button class="auctionCardFooter-button">
                                                <span class="auctionCardFooter-label">You are the Highest Bidder !</span>
                                            </button>
                                        <% }else{ %>
                                            <button class="auctionCardFooter-button-bid" data-auctionId="<%=item.id%>">
                                                <span class="auctionCardFooter-label">BID NOW !</span>
                                            </button>
                                        <% } %>

                                    </div>
                                        

                                </div>

                            </div>

                        </div>

                    <%  }); %>

                <% } %>
            </div>

            <div class="modal" style="display: none;">
                    <h2>Bid on "Auction Name"</h2>
                    <form autocomplete="off" class="form-element">
                        <label class="form-label">Bid Amount</label>
                        <div class="form-input-wrapper">
                            <span>$</span>
                            <input class="form-input" type="number" value="1"></input>
                        </div>
                    </form>
                    <button class="confirm-button">Confirm</button>
                    <div class="modal-message"> </div>
            </div>
            
            <div class="backdrop" style="display: none;"></div>
        </div>
    </body>
    <script src="/javascript/auctions.js"></script> 
    </html>